.logo {
  display: flex;
  justify-content: center;
  padding-top: 20px; }
  
  .nav-item{
    font-weight:bold;
    padding-right: 30px;
  }
  .nav-item a{
    color: black;
  }
  .nav-item a:hover{
    color: gray;
  }
  .topBody{ 
   position: relative;
   border-top:1px solid black;
   display: flex;
   justify-content: center;
   flex-direction: row-reverse;
   padding: 0px 30px;
  }
  .image {
    width: 50vw;
    padding: 20px;
  }
  .imgae img{
    width: max-content;
  }
  .content{
    z-index: 2;
    padding: 20px;
    align-self: center;
    width: 50vw;
  }
  .but{
    padding: 10px 40px;
    margin-top: 20px;
  }
.customeShape{
position: absolute;
bottom: 0px;
width: 100%;
z-index: 1;
/* UI Properties */
/* background: #F8FAFC 0% 0% no-repeat padding-box;
opacity: 1; */
}
/* .customeShape div{
  width: 25vw;
   background-color: brown; 
  height: 25vh;
}
.left1{
  
} */


